.inscribir-container {
  max-width: 600px;
  margin: 0 auto;
  padding: 30px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #fff; /* Cambia el color*/
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  min-height: 500px; /* Ajusta esta altura según sea necesario */
}

.school-image {
  position: absolute;
  top: 1px;
  left: 1px; /* Ajusta la distancia desde la derecha según sea necesario */
}

.inscribir-container h2,
.inscribir-container h3 {
  margin-bottom: 15px;
  font-size: 1.5em; /* Ajusta el tamaño de la fuente del encabezado */
}

.inscribir-container form {
  display: grid;
  grid-gap: 10px;
}

.inscribir-container label {
  display: block;
  font-weight: bold;
  font-size: 0.8em; /* Aumenta el tamaño de la fuente de las etiquetas */
  color: #fff; /* Cambia el color del texto a blanco */
  background-color: #00796b; /* Fondo verde azulado para las etiquetas */
  padding: 4px 9px; /* Agrega padding para hacer las etiquetas más grandes */
  border-radius: 2px; /* Bordes redondeados para las etiquetas */
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1); /* Sombra para el texto */
  margin-bottom: 5px; /* Añade un margen inferior para separar las etiquetas de los campos de entrada */
}

.inscribir-container input[type="text"],
.inscribir-container input[type="email"],
.inscribir-container input[type="tel"],
.inscribir-container input[type="date"],
.inscribir-container select {
  width: 50%;
  padding: 7px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
  font-size: 0.8em;
}

.inscribir-container button {
  padding: 9px 18px;
  border: none;
  border-radius: 5px;
  background-color: #00796b;
  color: #fff;
  cursor: pointer;
  font-size: 0.8em;
}

.inscribir-container button:hover {
  background-color: #099264;
}

.boton-agregar-tutor {
  margin-bottom: 15px;
}

