<!-- alumno-tutor.component.html -->
<div class="content-container">
  <div class="alumno-tutor-container">
    <h2>Seleccionar Alumno y Tutor</h2>

    <!-- Selector de Alumno -->
    <div class="form-group">
      <label for="alumno">Seleccionar Alumno:</label>
      <select [(ngModel)]="alumnoSeleccionado">
        <option *ngFor="let alumno of alumnos" [ngValue]="alumno">
          {{ alumno.alum_ci }}: {{ alumno.alum_nom }} {{ alumno.alum_ape }}
        </option>
      </select>
    </div>

    <!-- Selector de Tutor -->
    <div class="form-group">
      <label for="tutor">Seleccionar Tutor:</label>
      <select [(ngModel)]="tutorSeleccionado">
        <option *ngFor="let tutor of tutores" [ngValue]="tutor">
          {{ tutor.tut_ci }}: {{ tutor.tut_nom }} {{ tutor.tut_ape }}
        </option>
      </select>
    </div>

    <!-- Botones para cancelar y guardar -->
    <div class="form-group">
      <button type="button" (click)="cancelar()">Cancelar</button>
      <button type="button" (click)="guardar()">Guardar</button>
    </div>
  </div>
</div>
