
/* Contenedor principal */
.content-container {
  position: absolute; /* Permite que el contenedor ocupe el tamaño del padre */
  top: 0;
  left: 0;
  width: 100%; /* Ocupa todo el ancho disponible */
  height: 100%; /* Ocupa toda la altura disponible */
  background-color: #e0f7fa;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: -1; /* Asegura que esté detrás del contenido */
}

/* Contenedor del formulario */
.alumno-tutor-container {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 400px;
}

h2 {
  text-align: center;
  color: #333;
}

/* Estilo de las etiquetas del formulario */
.label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
  color: #555;
}

/* Estilo de las entradas del formulario */
.alumno-tutor-container input[type="text"],
.alumno-tutor-container input[type="email"],
.alumno-tutor-container input[type="tel"],
.alumno-tutor-container input[type="date"],
.alumno-tutor-container select {
  width: 100%;
  padding: 7px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
  font-size: 0.8em;
}

/* Estilo del botón de envío */
.alumno-tutor-container button {
  padding: 9px 18px;
  border: none;
  border-radius: 5px;
  background-color: #00796b;
  color: #fff;
  cursor: pointer;
  font-size: 0.8em;
  margin-top: 10px;
}

/* Efecto de hover en el botón de envío */
.alumno-tutor-container button:hover {
  background-color: #099264;
}

/* Estilo del botón para agregar tutor */
.boton-agregar-tutor {
  margin-bottom: 15px;
}

/* Ajustes adicionales para el formulario */
.alumno-tutor-container form {
  display: grid;
  grid-gap: 10px;
}

/* Ajustes para secciones de información */
.seccion-estudiante,
.seccion-tutor {
  margin-bottom: 20px;
}
