<!-- src/app/inscripcion/inscripcion.component.html -->

<div class="arancel-container">
  <h2>Formulario de Inscripción</h2>
  <form (ngSubmit)="guardar()">
    <!-- Selector para la relación Tutor-Alumno -->
    <div class="form-group custom-select">
      <label for="relacionTutorAlumno">Tutor-Alumno:</label>
      <select id="relacionTutorAlumno" name="relacionTutorAlumno" [(ngModel)]="relacionSeleccionada" required>
        <option *ngFor="let relacion of relaciones" [value]="relacion.id">{{ relacion.nombreCompleto }}</option>
      </select>
    </div>

    <!-- Checkbox de Habilitado/No Habilitado -->
    <div class="form-check">
      <input type="checkbox" class="form-check-input" id="habilitado" name="habilitado" [(ngModel)]="habilitado">
      <label class="form-check-label" for="habilitado">Habilitado</label>
    </div>

    <!-- Campo para la fecha de inscripción -->
    <div class="form-group">
      <label for="fechaInscripcion">Fecha de Inscripción:</label>
      <input type="date" class="form-control" id="fechaInscripcion" name="fechaInscripcion" [(ngModel)]="fechaInscripcion" required>
    </div>

    <!-- Campo fijo para el período -->
    <div class="form-group">
      <label for="periodo">Período:</label>
      <input type="text" class="form-control" id="periodo" value="2024" readonly>
    </div>

    <!-- Botones para cancelar y guardar la inscripción -->
    <div class="d-flex justify-content-between">
      <button type="button" class="btn btn-secondary cancel-button" (click)="cancelar()">Cancelar</button>
      <button type="submit" class="btn btn-primary">Guardar</button>
    </div>
  </form>
</div>
