/* src/app/inscripcion/inscripcion.component.css */

.arancel-container {
  max-width: 600px; /* Ancho máximo del contenedor */
  margin: 0 auto; /* Centra el contenedor horizontalmente */
  padding: 20px; /* Espaciado interno */
  background-color: #f8f9fa; /* Color de fondo */
  border: 1px solid #ccc; /* Borde del contenedor */
  border-radius: 5px; /* Borde redondeado */
}

.arancel-container h2 {
  font-size: 1.5rem; /* Tamaño de fuente del título */
  margin-bottom: 20px; /* Espacio inferior del título */
  text-align: center; /* Alineación del título */
}

.form-group {
  margin-bottom: 20px; /* Espacio inferior de los grupos de formulario */
}

.custom-select select {
  width: 100%; /* Ancho completo del selector */
  padding: 10px; /* Ajuste de padding */
  font-size: 1rem; /* Tamaño de fuente */
  line-height: 1.5; /* Altura de línea */
}

.form-check {
  margin-bottom: 20px; /* Espacio inferior de los checkboxes */
}

.form-check-label {
  margin-left: 5px; /* Espacio a la izquierda del label del checkbox */
}

.form-control {
  width: 100%; /* Ancho del control de formulario al 100% */
}

.cancel-button {
  margin-right: 10px; /* Espacio a la derecha del botón de cancelar */
}
