/* src/app/menu-bar/menu-bar.component.css */

/* Contenedor del menú-bar */
.menu-bar {
  width: 100%; /* Ancho total de la pantalla */
  position: fixed; /* Fijar en la parte superior */
  top: 0; /* Borde superior */
  left: 0; /* Borde izquierdo */
  background-color: #00796b; /* Fondo del menú */
  color: white; /* Color del texto */
  display: flex;
  justify-content: space-around; /* Espacio entre elementos */
  align-items: center; /* Centrado vertical */
  padding: 10px 0; /* Espaciado superior e inferior */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra para el menú */
  z-index: 1000; /* Asegurar que esté por encima del resto del contenido */
}

.menu-bar a {
  color: white; /* Color del texto de los enlaces */
  text-decoration: none; /* Sin subrayado */
  padding: 10px 15px; /* Espaciado interno de los enlaces */
  transition: background-color 0.3s; /* Transición para el efecto hover */
}

.menu-bar a:hover {
  background-color: #099264; /* Color de fondo al pasar el ratón */
}

/* Añadir margen superior al contenido para no quedar oculto detrás del menú */
.content-container {
  margin-top: 60px; /* Ajustar según la altura del menú-bar */
}
