<div class="ficha-container">
  <img src="assets/CEPB.png" alt="Colegio" class="school-image">
    <h2>Ficha de Inscripción</h2>
    <div>
      <p><strong>Nombre:</strong> {{ datos.nombre }}</p>
      <p><strong>Apellido:</strong> {{ datos.apellido }}</p>
      <p><strong>Fecha de Nacimiento:</strong> {{ datos.fechaNacimiento }}</p>
      <p><strong>Dirección:</strong> {{ datos.direccion }}</p>
      <p><strong>Teléfono:</strong> {{ datos.telefono }}</p>
      <p><strong>Correo:</strong> {{ datos.correo }}</p>
      <p><strong>Fecha de Inscripción:</strong> {{ datos.fechaInscripcion }}</p>
      <div *ngIf="datos.tutor">
        <h3>Información del Tutor</h3>
        <p><strong>Nombre del Tutor:</strong> {{ datos.tutor.nombre }}</p>
        <p><strong>Apellido del Tutor:</strong> {{ datos.tutor.apellido }}</p>
        <p><strong>Teléfono del Tutor:</strong> {{ datos.tutor.telefono }}</p>
        <p><strong>Correo del Tutor:</strong> {{ datos.tutor.correo }}</p>
        <p><strong>Dirección del Tutor:</strong> {{ datos.tutor.direccion }}</p>
        <p><strong>Relación del Tutor:</strong> {{ datos.tutor.relacion }}</p>
      </div>
    </div>
    <button (click)="generarPDF()">Generar PDF</button>
  </div>
  