<div class="content-container">
    <div class="alumno-tutor-container">
      <h2>Agregar Tutor</h2>
      <form>
        <!-- Campos de información del tutor -->
        <div class="seccion-tutor">
          <h3>Información del Tutor</h3>
          <div>
            <label for="nombreTutor">Nombre del Tutor:</label>
            <input type="text" id="nombreTutor" name="nombreTutor" required>
          </div>
          <div>
            <label for="apellidoTutor">Apellido del Tutor:</label>
            <input type="text" id="apellidoTutor" name="apellidoTutor" required>
          </div>
          <div>
            <label for="cedulaTutor">Cédula del Tutor:</label>
            <input type="text" id="cedulaTutor" name="cedulaTutor" required>
          </div>
          <div>
            <label for="telefonoTutor">Teléfono del Tutor:</label>
            <input type="tel" id="telefonoTutor" name="telefonoTutor" required>
          </div>
          <div>
            <label for="correoTutor">Correo del Tutor:</label>
            <input type="email" id="correoTutor" name="correoTutor" required>
          </div>
          <div>
            <label for="direccionTutor">Dirección del Tutor:</label>
            <input type="text" id="direccionTutor" name="direccionTutor" required>
          </div>
          <div>
            <label for="relacionTutor">Relación del Tutor:</label>
            <select id="relacionTutor" name="relacionTutor" required>
              <option value="padre">Padre</option>
              <option value="madre">Madre</option>
              <option value="encargado">Encargado</option>
              <option value="otro">Otro</option>
            </select>
          </div>
        </div>
  
        <!-- Botones para cancelar y guardar la inscripción -->
        <div>
          <button type="button" (click)="cancelar()">Cancelar</button>
          <button type="submit" (click)="guardarTutor()">Guardar</button>
        </div>
      </form>
    </div>
  </div>
  